#	Miscellaneous, or simply no idea what these are.
Autodesk/
dconf/
deluge/
fontconfig/
gedit/
gtk-2.0/
gtk-3.0/
htop/
iterm2/
joplin-desktop/
karabiner/
keepassx/
micro/
nautilus/
orage/
pulse/
QtProject/
quassel-irc.org/
rclone/
Thunar/
wireshark/
xfce4/

Trolltech.conf

mimeapps.list
pavucontrol.ini
qvm-mru-filecopy
user-dirs.dirs
user-dirs.locale

#	Fish! :D
fish/config.*.copy
fish/fishd.*
fish/fish_history

#	Fish installed shenanigans.
fish/completion/fisher.fish
fish/completion/tide.fish
fish/conf.d/
fish/fish_plugins
fish/fish_variables
fish/functions/_tide_*.fish
fish/functions/fish_mode_prompt.fish
fish/functions/fish_prompt.fish
fish/functions/fisher.fish
fish/functions/tide.fish
fish/functions/tide/

#	The fuck?
thefuck/__pycache__/

#	Byobu
.byobu/.byobu
.byobu/datetime.tmux
.byobu/prompt
.byobu/.ssh-agent
.byobu/status
.byobu/statusrc
.byobu/windows
.byobu/windows.tmux

#       NeoVim
/nvim/bundle/

#       Sublime Text 3
/sublime-text-3/Cache/
/sublime-text-3/Index/
/sublime-text-3/Installed Packages/
/sublime-text-3/Lib/
/sublime-text-3/Local/
/sublime-text-3/Packages/*
!/sublime-text-3/Packages/User
/sublime-text-3/Packages/User/*
!/sublime-text-3/Packages/User/Default (Linux).sublime-keymap
!/sublime-text-3/Packages/User/Terminus.sublime-settings

