#	Miscellaneous, or simply no idea what these are.
htop/
pulse/
dconf/
fontconfig/
gtk-2.0/
nautilus/
sublime-text-3/

qvm-mru-filecopy
user-dirs.dirs
user-dirs.locale

#	Fish! :D
fish/config.*.copy
fish/fishd.*
fish/fish_history

#	Fish installed shenanigans.
fish/functions/fish_prompt.fish

#	The fuck?
thefuck/__pycache__/

#	Byobu
.byobu/.byobu
.byobu/datetime.tmux
.byobu/prompt
.byobu/.ssh-agent
.byobu/status
.byobu/statusrc
.byobu/windows
.byobu/windows.tmux

# TODO: Handle Sublime properly.

