[Unit]
Description=Discover Streams

[Service]
Type=oneshot
Environment=PATH=%h/.local/bin:%h/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
PrivateTmp=true
NoNewPrivileges=true
ExecStart=%h/.local/bin/manage-streams.sh start-all

[Install]
WantedBy=default.target

